html{
	width:1000px;
	margin: auto;
	background-color:thistle;
	font-family:verdana}



body{


	}


h1{
	color:slateBlue;
	border-bottom:solid 2px;
	text-align: center;}
h2{
	color:slateBlue;
	}
p{
	color:slateGrey;}
label{
  color:midnightBlue
}
img{
	border-radius:8px;
	border:solid 3px white;
	padding: 5px;
	float:right;}

  #answer {
    border: 1px dashed #ccc;
    background: #eee;
    padding: 10px;
  }
